main {
    padding: 50px 0;
}

.artworks-gallery {
    text-align: center;
}

.artworks-gallery h1 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #333;
    font-weight: 700;
    letter-spacing: 1px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 3fr));
    gap: 20px;
}

.gallery-item,
.gallery-item1 {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.gallery-item:hover,
.gallery-item1:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.gallery-item img,
.gallery-item1 img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1.414, 1.414 / 1;
    border-bottom: 1px solid #e0e0e0;
}

.name-box {
    padding: 15px;
    background: linear-gradient(135deg, rgba(6, 147, 227, 1) 0%, rgb(155, 81, 224) 100%);
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
}

.description {
    display: none;
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 1.6;
    z-index: 10;
    transition: all 0.3s ease;
    opacity: 0;
}

.gallery-item:hover .description,
.gallery-item1:hover .description {
    display: flex;
    opacity: 1;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    text-align: left;
    overflow-y: auto;
}

.description p {
    margin: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.714);
    border-radius: 5px;
}

footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    width: 100%;
}

@media (max-width:768px){
    .gallery-grid {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .gallery-item {
        width: 90%;
        max-width: none;
    }
}

@media (max-width: 768px) {
    .gallery-grid {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .gallery-item {
        width: 90%;
        max-width: none;
    }
}
