body {
    background: url('../content/bg.png') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background: url('../content/hbg.png') no-repeat center center;
    background-size: cover;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .logo {
    font-size: 28px;
    font-weight: 600;
    color: #00ffe1;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: color 0.3s;
}

header nav ul li.active a,
header nav ul li a:hover {
    color: #ffb6c1;
    font-weight: bolder;
    transition: color 0.3s;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg, rgba(6, 147, 227, 1) 0%, rgb(155, 81, 224) 100%);
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(135deg, rgb(122, 220, 180) 0%, rgb(0, 208, 130) 100%);
}

.hamburger {
    display: block;
    width: 35px;
    cursor: pointer;
    background: none;
    position: relative;
    border: none;
}

.hamburger .bar,
.hamburger::after,
.hamburger::before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    margin: 5px 0px;
    transition: 0.4s;
}

.hamburger.is-active::before {
    transform: rotate(-45deg) translate(-8px, 3px);
}

.hamburger.is-active::after {
    transform: rotate(45deg) translate(-8px, -4px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.mobile-nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 60%;
    min-height: 100vh;
    display: block;
    flex-direction: column;
    z-index: 98;
    background-color: #000000ef;
    padding-top: 120px;
    transition: 0.4s;
}

.mobile-nav a {
    display: block;
    width: 100%;
    max-width: 150px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 16px;
    padding: 12px 16px;
    background: linear-gradient(135deg, rgba(6, 147, 227, 1) 0%, rgb(155, 81, 224) 100%);
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    transition: background 0.4s;
}

.mobile-nav a:hover,
.mobile-nav a.active {
    background: linear-gradient(135deg, rgba(55, 177, 255, 1) 0%, rgb(19, 241, 167) 100%);
}

.mobile-nav.is-active {
    right: 0;
}

@media screen and (min-width: 768px) {
    .mobile-nav,
    .hamburger {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    nav {
        display: none;
    }
}